<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <log4net>
    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="output.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ManagedColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="DarkRed" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Blue" />
      </mapping>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- 
OFF - nothing gets logged (cannot be called)
FATAL
ERROR
WARN
INFO
DEBUG
ALL - everything gets logged (cannot be called)
   -->

    <root>
      <!--<level value="ALL" />-->
      <level value="ERROR" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ManagedColoredConsoleAppender" />

    </root>
  </log4net>
  <appSettings>
    <!-- Microsoft Keys -->
   <!-- <add key="AnomalyDetectionWebServiceUrl" value="https://ussouthcentral.services.azureml.net/workspaces/5c51465da0e94cbcaeb05879306f7141/services/c609dde687ec4f11a07a9e299bbd1433/execute?api-version=2.0&amp;details=true" />
    <add key="AnomalyDetectionApiKey" value="9UntHCseDOJvJWoUiR4I7GzOTzhLh6d3c+WE7zOQnaeG9RrnGMfLLAb7Y0wnRPYoYaLQ6CuYMdb2BJcbHcwBUw==" />
-->
    <!-- Tejaswi Keys-->
    <add key="AnomalyDetectionWebServiceUrl" value="https://ussouthcentral.services.azureml.net/workspaces/1d4aa9b5560d4303a33da33fe43b7417/services/40acbf1d0f5844f080528f36e1be0ddb/execute?api-version=2.0&amp;details=true" />
    <add key="AnomalyDetectionApiKey" value="LPl0x4fJrSnH25msbD/Bo4NYG7A8WyQhGAW7UzQ/kvHb6eRpw9FediNLoHqCNu6lheUHCZMugFIQpcYRiSrxfA==" />

    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>